body {
  line-height: 20px;
  margin: 0 0;
}

.App-header {
  height: 4vh;
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: space-around;
}

.App-header h1 {
  color: rgb(255, 7, 98);
  font-size: 25px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.navigation {
  display: flex;
}

.navigation img {
  margin: 0 5px;
  cursor: pointer;
  height: 25px;
}

footer.App-footer {
  background: #fff;
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e6ecf0
}

.App-footer a, .App-footer p {
  text-decoration: none;
  color: #60606063;
  margin: 0 10px;
  font-size: 11px;
  font-family: monospace;
}