.landingPageBody {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.timeline {
  width: 50%;
  height: 90vh;
  background-color: #0084e9;
}

ul.contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 10%;
}

.contents h1 {
  color: rgba(235, 240, 251, 0.62);
  font-size: 30px;
  font-weight: 600;
  font-family: monospace;
  position: relative;
  bottom: 20px;
  line-height: 1;
}

.contents li {
  list-style-type: circle;
  font-size: 16px;
  line-height: 2;
  margin: 10px;
  color: #fff;
  font-family: monospace;
}

.loginSignIn {
  width: 50%;
  margin: 0 auto;
}

/* LOG IN */

.logInForm {
  padding: 0 15px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

p.haveAccount {
  color: rgb(104, 99, 99);
  font-weight: 400;
  margin-top: 20px;
  font-family: monospace;
}

.login {
  color: #0db7e1;
  text-decoration: none;
}

input.logInemail {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  background: #fff;
  border: 1px solid #9ecbe9;
}

input.logInpassword {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 1px 0;
  font-size: 14px;
  background: #fff;
  outline: none;
  border: 1px solid #9ecbe9;
}

input.login-btn {
  background-color: #2a9cf4;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  color: #fff;
  border: none;
  margin: -1px;
  cursor: pointer;
}

.forgotPasswordLink {
  color: rgba(85, 86, 84, 0.39);
  text-decoration: none;
  font-size: 12px;
  float: right;
  font-family: monospace;
  margin: 2px;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

/* SIGN UP CSS */

.signUpForm {
  padding: 0 15px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.facebookOrTwitter {
  display: flex;
  justify-content: start;
  width: 100%;
}

.facebook {
  display: flex;
  width: 48%;
  align-items: center;
  background-color: #3B5997;
  color: #fff;
  padding: 0 5px;
  font-size: 12px;
  cursor: pointer;
}

.twitter {
  display: flex;
  width: 48%;
  align-items: center;
  padding: 0 5px;
  background-color: #45a4ed;
  color: #FFF;
  font-size: 12px;
  cursor: pointer;
}

.facebook img {
  max-width: 30px;
  margin-right: 5px;
}

.twitter img {
  max-width: 30px;
  margin-right: 5px;
}

.facebook p,
.twitter p {
  font-size: 12px;
  font-family: monospace;
}

p.orSignUpWith {
  color: rgb(53, 51, 51);
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  font-family: monospace;
}

input.firstName {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  border: 1px solid #9ecbe9;
}

input.lastname {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  border: 1px solid #9ecbe9;
}

input.email {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  border: 1px solid #9ecbe9;
}

input.password {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  border: 1px solid #9ecbe9;
}

p.bycreating {
  color: rgb(104, 99, 99);
  font-weight: 400;
  margin-top: 20px;
  font-family: monospace;
}

span.termsAndCondition {
  color: #0db7e1;
  cursor: pointer;
  font-family: monospace;
}

button.signup-btn {
  background-color: #2a9cf4;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .landingPageBody {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .timeline,
  .loginSignIn {
    width: 100%;
    border-radius: 0;
  }
  .loginSignIn {
    width: 100%;
  }
  .logInForm,
  .signUpForm {
    width: 90%
  }
  .facebook p,
  .twitter p {
    font-size: 7px;
  }
}