.pwd-reset-body {
  min-height: 90vh;
  background: #e6ecf0;
  margin-bottom: -13px;
}

h1.pwdres {
  text-align: center;
  font-size: 25px;
  font-family: monospace;
  line-height: 2;
  margin-top: 0;
}

form.reset {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

input.pwd-restEmail {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 20px 0;
  font-size: 14px;
  background: #fff;
  outline: none;
  border: 1px solid #9ecbe9;
}

input.resetp-btn {
  background-color: #2a9cf4;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  color: #fff;
  border: none;
  margin: -1px;
  cursor: pointer;
}

.remPass {
  text-align: center;
  font-family: monospace;
}

.login-rst {
  text-decoration: none;
  color: #2a9cf4;
}

.login-rst:hover {
  text-decoration: underline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  form.reset {
    width: 80%;
  }

  .pwd-reset-body {
    background: #fff;
  }
}